@import "variables";
@import "container-grid";
@import "mixins";

footer {
  border-top: 1px solid $gray-200;
  padding-top: 50px;

  .brand-tagline {
    color: $gray-500;
    font-weight: 300;
    margin-top: 8px;
  }

  .list-group-item {
    padding: 0.3125rem 0;
    border: 0;

    a,
    span {
      color: $gray-500;
      font-weight: 300;
      font-family: "Poppins";
    }
    a {
      @include hover-focus {
        color: $gray-800;
      }
    }
  }

  .copyrights {
    margin: 50px 0;
    font-weight: 300;
    color: $gray-500;
    font-family: "Poppins";
  }
}
