@import "variables";

header {
  border-bottom: 1px solid $gray-200;
  width: 100%;
  position: relative;
  font-family: $font-family-poppins;

  .navbar {
    height: 80px;

    ul.navbar-nav {
      li.nav-item {
        &.active {
          a.nav-link {
            color: $primary;
          }
        }

        a {
          &.nav-link {
            letter-spacing: 1px;
            color: $secondary;
            padding-left: 1rem;
            padding-right: 1rem;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
