@import 'variables';

.brand-text-icon {
    font-size: 26px;
    font-weight: 500;
    font-family: $font-family-poppins;
    color: $primary;
    text-decoration: none;

    &:hover {
        color: $primary;
        text-decoration: none;
    }
}

.brand-text-icon>span {
    color: $secondary;
}